ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
}

a {
  text-decoration: none; 
}

p {
    font-size: 23px;
    border-style: dotted;
    border-color: rgb(171, 14, 137);
    border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    background-color: rgb(216, 208, 224);
}

h1 {
    text-align: center;
    color: rgb(171, 14, 137);
}

.wrap {
  float: left; 
}

#block {
  display: inline-block;
  float: left; 
}

img {   
  margin-left: 1px;
  }
  .sc {    
  height: 10em;
  align-items: center; 
  justify-content: center;
  display: inline-block; 
  padding: 10px 250px 30px 0px;
  vertical-align: middle;
  }    

#item {
  font-size: 33px;
  color:rgb(107, 14, 101);
  text-align: center;
}

.button {
  background-color:rgb(107, 14, 101);
  text-decoration-color: blueviolet;
  font-size: 16px;
}
.button:hover.blue {
  background: #39a1f4;
}
  @import url('https://fonts.googleapis.com/css?family=Arimo');
  .top-menu {
    position: relative;
    background: rgba(47, 4, 29, 0.9);
  }
  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-main:after {
    content: "";
    display: table;
    clear: both;
  }
  .left-item {
    float: left;
}
  .right-item {
    float: right;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
  }
  .menu-main a:hover {
    background: rgba(158, 120, 137, 0.6);    
}
@media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    border: 3px solid rgb(7, 156, 29); 
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 18px;
  }
  }
  @media (max-width: 630px) {
  .menu-main li {
    display: block;
}
}