.container_1 div,
.container_2 div {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.container_1,
.container_2 {
  margin: 30px 0;
}

.container_1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container_2 {
  display: flex;
  justify-content: space-evenly;
}

/* 
  1. flex-direction - определяет направление основной оси
    row - горизонтальная (по умолчанию)
    column - вертикальная
    row-reverse - горизонтальная-зеркальная
    column-reverse - вертикальная-зеркальная
  2. justify-content - выравнивает элементы вдоль основной оси
    start - по левому краю (row) / по верхнему краю (column)
    
    end - по правому краю (row) / по нижнему краю (column)
    
    center - по центру
    
    space-between - прижимает крайние элементы по краям, оставщее пространство равномерно распределяет между элементами
    
    space-around - отступы между карйними элементами и краями экрана равны половине отступов между центральными элементами
    
    space-evenly - отступы между карйними элементами и краями экрана равны отступам между центральными элементами
  3. align-items - выравнивает элементы вдоль торостепенной оси
    start - по верхнему краю (row) / по левому краю (column)
    end -  по нижнему краю (row) / по правому краю (column)
    center - по центру
  flex-wrap - разрешает/запрещает перенос на новую строку
    nowrap - запрещает (по умолчанию)
    wrap - разрешает
  
  4. gap - добавляет отступы между элементами
*/

