* {
  padding: 0;
  margin: 0;
}

.user_card {
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  background-color: beige;
}

.progress_container {
  border: 1px solid black;
  margin-top: 15px;
  height: 20px;
  position: relative;
}

.progress_line {
  background-color: aquamarine;
  height: 100%;
  position: absolute;
}

.progress_value {
  position: absolute;
  text-align: center;
  width: 100%;
}

